### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [1]:
# *  :  expression
# 'hello'  :  value
# -87.8  :  value
# -  :  expression
# /  :  expression
# +  :  expression
# 6  :  value

### 2. What is the difference between string and variable?

In [2]:
# String is a 'Text' data type, enclosed in single or double quotation marks.
# Variables are containers for storing data values(of different types). Variables are created when you assign a value to it.

### 3. Describe three different data types.

In [3]:
# Data Types are the categorised as follows:
# Text Type:str
# Numeric Types:int, float, complex
# Sequence Types:list, tuple, range
# Mapping Type:dict
# Set Types:set, frozenset
# Boolean Type:bool
# Binary Types:bytes, bytearray, memoryview
# None Type:NoneType

In [4]:
# To explain 3 different data types, let us condider:
# LIST: Lists are used to store multiple items in a single variable.
#       List items are ordered, changeable, and allow duplicate values.
#       Lists are created using square brackets
# TUPLE: Tuples are used to store multiple items in a single variable.
#        Tuple items are ordered, unchangeable, and allow duplicate values.
#        Tuples are written with round brackets.
# SET: Sets are used to store multiple items in a single variable.
#      Set items are unordered, unchangeable, and do not allow duplicate values.
#      Sets are written with curly brackets.

### 4. What is an expression made up of? What do all expressions do?

In [5]:
#1. An expression is a combination of values, variables, operators, and function calls that are interpreted by a programming 
#   language to produce a result. It can be as simple as a single value or variable, or it can be a complex combination of
#   multiple components.
#2. Expressions are used to manipulate and transform data, make decisions based on conditions, and control the flow of a 
#   program.

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [6]:
#1. An expression when evaluated produces a result. Where as in the assignment statement a variable is assigned with a value,
#   perform actions or control the flow of a program without producing a value.

### 6. After running the following code, what does the variable bacon contain?
bacon = 22\
bacon + 1

In [7]:
bacon = 22
bacon + 1

23

In [8]:
bacon #The variable 'bacon' will still contain the value 22.

22

### 7. What should the values of the following two terms be?
'spam' + 'spamspam'\
'spam' * 3

In [9]:
'spam' + 'spamspam'

'spamspamspam'

In [10]:
'spam' * 3

'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

In [11]:
# As a variable name cannot start with a number 100 is invalid variable name.

###  9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [12]:
# This can be done by using casting:
# 1.int()
# 2.float()
# 3.str()

In [13]:
#If we consider value is 2:
a=int(2)
b=float(2)
c=str(2)
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

2
2.0
2
<class 'int'>
<class 'float'>
<class 'str'>

### 10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

In [14]:
# This expression is causing an error because we are concatenating string and integer.
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Convert integer to string
'I have eaten ' + str(99) + ' burritos.'